@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --blue: #48CAE4;
    --white: #FFFFFF;
    --black: #2b2b2b;
    --yelow: #FFB100;
    --navy: #0A2647;
    --green: #6CBFB1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    padding: 0 6.25rem;
}

.login-btn > a{
    padding: 0.75rem 1.5rem;
    border-radius: 99px;
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
}


.preload {
    width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    background-size: 400% 400%;
	box-shadow: 0px 0px 20px black;
    background: linear-gradient(0deg, rgba(45,146,128,1) 3%, rgba(123,186,175,1) 100%);
    z-index: 9999;
    overflow: hidden;
}

.preload h2 {
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
}

.preload h2 {
    content: attr(data-text);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);width: 400px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px white solid;
    animation: animasi 4s linear infinite;
    filter: drop-shadow(0 0 20px white) drop-shadow(0 0 50px white);
}

@keyframes animasi {
    0%,10%,100%
    {width: 0;}
    70%,90%
    {width: 400px;}
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 0.5s top ease-in-out;
}

#navbar .container{
    padding-block: 1.5rem;
    display: flex;
    justify-content: space-between;
    backdrop-filter: brightness(50%);
}

#navbar .container .nav-menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}

#navbar .container .nav-menu a{
    color: var(--white);
    font-weight: 500;
}

#navbar .container .nav-menu .nav-link{
    display: flex;
    gap: 2rem;
}

#hero-section .container{
    min-height: 100vh;
    background: linear-gradient(179.98deg, rgba(0, 0, 0, 0) 4.17%, #0C0C0C 115.57%), url(/assets/LP-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #FFB100;
}

#hero-section .container .hero-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#hero-section .container .hero-content .heading > h1{
    color: #57968B;
    font-size: 80px;
}

#hero-section .container .hero-content .heading > h2{
    color: var(--white);
    width: 580px;
    font-size: 32px;
    text-align: center;
}

.heading h2 span:nth-child(2) {
    color: #2D9280;
}

#hero-section .container .hero-image > img{
    /* width: 100%;
    min-height: 100vh; */
}

#hero-section .container .hero-content .lets-talk-btn > a{
    padding-inline: 0rem;
    color: var(--green);
}

#about-section .container{
    padding-block: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#about-section .container .about-image > img{
    width: 400px;
    height: 100vh;
}

#about-section .container .about-content{
    text-align: end;
    color: var(--black);
}

#about-section .container .about-content > h2{
    font-size: 40px;
    margin-bottom: 16px;
    text-align: center;
}

#about-section .container .about-content > p{
    font-size: 18px;
    width: 813px;
    height: 150px;
    left: 316px;
    top: 867px;
    line-height: 30px;
    text-align: center;
}

#service-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
    padding-block: 3rem;
}

#service-section .container > h2{
    font-size: 40px;
    margin-bottom: 32px;
}

#service-section .container .service-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 1rem;
}

#service-section .container .service-content .service-card{
    padding: 3rem;
    background-color: var(--white);
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

#service-section .container .service-content .service-card .service-detail{
    height: 100%;
}

#service-section .container .service-content .service-card .service-detail > h3{
    font-size: 24px;
    margin-bottom: 12px;
}

#service-section .container .service-content .service-card > a{
    font-weight: 600;
    color: var(--blue);
}